/* globals.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Define the font using @font-face */
@font-face {
  font-family: 'Creato Display';
  src: url('/fonts/CreatoDisplay-Light.otf') format('opentype');
  font-weight: 300; /* Adjust the weight according to the font file, if necessary */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-creato-display: "Creato Display", sans-serif;

  /* Colors from the provided color palette */
  --color-center: #ff0000; /* Red center */
  --color-middle: #6a0dad; /* Purple gradient */
  --color-outer: #4b0082; /* Dark purple */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-creato-display);
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
